$Geist: "Geist", serif;
$primary: #7544ff;
$secondary: transparent;
$white: #ffffff;
$white-100: #cec1f180;
$white-200: #e5e7eb;
$white-300: #cec1f1;
$dark: #0c0e19;
$gray: #E5E7EB;
$sf-regular: "SF-Pro-regular";
$sf-medium: "SF-Pro-medium";
$sf-bold: "SF-Pro-medium";
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);