@font-face {
    font-family: "SF-Pro-regular";
    src: url("../fonts/sf-pro-regular.eot") format("embedded-opentype"),
      url("../fonts/sf-pro-regular.OTF") format("opentype"),
      url("../fonts/sf-pro-regular.ttf") format("truetype"),
      url("../fonts/sf-pro-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: "SF-Pro-medium";
    src: url("../fonts/sf-pro-medium.eot") format("embedded-opentype"),
      url("../fonts/sf-pro-medium.OTF") format("opentype"),
      url("../fonts/sf-pro-medium.ttf") format("truetype"),
      url("../fonts/sf-pro-medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: "SF-Pro-bold";
    src: url("../fonts/sf-pro-bold.eot") format("embedded-opentype"),
      url("../fonts/sf-pro-bold.OTF") format("opentype"),
      url("../fonts/sf-pro-bold.ttf") format("truetype"),
      url("../fonts/sf-pro-bold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }