@import "./variables";

@media screen and (max-width: 1599px) {
  .hero-section {
    .pink-half {
      top: 5%;
    }
    .purple-half {
      right: -1%;
    }
  }
  .how-works-section {
    .purple-small-half {
      left: -6vw;
    }
  }
  .running-star{
    &.effect-2{
      left: 65%;
    }
  }
  .running-star{
    &.effect-1{
      left: 10%;
    }
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (max-width: 1399px) {
  .security-section {
    .circle-animation {
      width: 750px;
      height: 750px;
    }
  }
  .running-star{
    &.effect-1{
      left: 5%;
      top: 65%;
    }
  }
}
@media screen and (max-width: 1199px) {
  .testimonial-main {
    .wrapper {
      .swiper {
        width: 33.33%;
      }
    }
  }
  .create-bot-section {
    .wrapper {
      h2 {
        max-width: 100%;
        font-size: 38px;
      }
    }
  }
  .hero-section {
    h2 {
      font-size: 52px;
    }
    .pink-half {
      left: -8%;
    }
    .purple-half {
      right: -8%;
    }
  }
  .blue-gradient {
    &::before {
      left: -25%;
    }
  }
  .integrations-section {
    .seamless-functionality {
      .seamless-logo {
        top: 70px;
        .seamless-logo-inner {
          img {
            max-width: 180px;
          }
        }
      }
    }
  }
  .purple-half-round2 {
    width: 15vw;
  }
  .security-section {
    .circle-animation {
      width: 650px;
      height: 650px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero-section {
    .pink-half {
      top: 10%;
    }
    .purple-half {
      top: 26%;
      right: -9%;
    }
  }
  .running-star{
    &.effect-2{
      left: 72%;
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar-nav {
    .dropdown-menu {
      display: block;
      opacity: 0;
      visibility: hidden;
      margin: 0;
    }
  }
}
@media screen and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $dark;
  }
  h2 {
    font-size: 48px;
  }
  .hero-section {
    h2 {
      font-size: 48px;
    }
    .pink-half {
      top: 12%;
    }
    .purple-half {
      top: auto;
      bottom: 28%;
    }
  }
  .use-card {
    padding: 30px 30px 0;
    &.blue {
      &::before {
        bottom: unset;
        top: -47px;
        left: unset;
        right: 0;
        width: 100%;
        max-width: 370px;
      }
    }
  }
  .how-works-section {
    .purple-small-half {
      max-width: 10vw;
      bottom: -8vw;
      left: -22vw;
    }
    .nav-tabs {
      .nav-link {
        &::before {
          max-width: 29px;
        }
      }
    }
    .nav {
      max-width: 767px;
      min-width: 767px;
    }
  }
  .security-section{
  .security-card{
    &.bordered{
      &::after, &::before{
        left: 50%;
      }
      &::before{
        animation: upDownSm 5s linear infinite alternate;
      }
      &.one{
        &::after, &::before{
          display: none;
        }
      }
    }
  }
  }
  .integrations-section {
    .seamless-functionality {
      .seamless-logo {
        top: 50px;
        &:before {
          width: 105px;
        }
        .seamless-logo-inner {
          img {
            max-width: 150px;
          }
        }
      }
    }
  }
  .testimonial-main {
    .wrapper {
      margin: 0 30px;
      .swiper {
        width: 50%;
      }
    }
  }
  .faq-section {
    padding-bottom: 50px;
  }
  .accordion {
    .accordion-item {
      .accordion-button {
        padding: 16px;
        font-size: 16px;
      }
      .accordion-body {
        padding: 0 16px 16px;
      }
    }
  }
  footer {
    &::after {
      background: radial-gradient(
        96.28% 44.62% at 54.76% 105%,
        rgba(117, 68, 255, 0.5) 0%,
        rgba(12, 14, 25, 0.332609) 55.8%,
        #0c0e19 100%
      );
    }
    .list {
      margin-top: 0;
    }
  }
  .security-section {
    .circle-animation {
      width: 550px;
      height: 550px;
    }
  }
  .benefit-section {
    .benefit-wrapper {
      background-position: center;
    }
    .second-row {
      margin-top: 24px;
    }
  }
}

@media screen and (max-width: 767px) {
  .hero-section {
    padding: 84px 0 54px;
    &::before {
      background: radial-gradient(
        59.17% 53.97% at 50% 50%,
        rgba(225, 77, 255, 0.69) 0.05%,
        rgba(0, 0, 0, 0) 50%
      );
    }
    h2 {
      font-size: 38px;
      display: inline;
      -webkit-text-fill-color: #edd2ef;
    }
    .video-wrapper {
      .play-icon {
        height: 60px;
        width: 60px;
        img {
          width: 40%;
          margin-right: -7%;
        }
      }
    }
    .pink-half {
      width: 50vw;
      left: -12%;
      top: 5%;
    }
  }
  h2 {
    font-size: 38px;
  }
  .how-works-section {
    .purple-small-half {
      max-width: 30vw;
      bottom: -18vw;
      left: -7vw;
    }
  }
  .security-section{
    .security-card{
      &.bordered{
        &::after, &::before{
         display: none
        }
      }
    }
  }
  .running-star{
    &.effect-2{
      left: 80%;
    }
  }
  .blue-gradient{
    &::before{
      height: 140px;
      top: 0px;
    }
  }
  .testimonial-main {
    .wrapper {
      margin: 0;
      .swiper {
        width: 100%;
      }
    }
  }
  footer {
    &::after {
      background: radial-gradient(
        90% 17% at 51.76% 99%,
        rgba(117, 68, 255, 0.5) 0%,
        rgba(12, 14, 25, 0.332609) 55.8%,
        #0c0e19 100%
      );
    }
  }
  .create-bot-section {
    .wrapper {
      h2 {
        font-size: 34px;
      }
      .pdf-img {
        top: 30px;
        left: 10%;
      }
      .gif-img {
        bottom: 30px;
        left: 30px;
        max-width: 46px;
      }
      .txt-img {
        bottom: 25px;
        right: 7%;
      }
      .doc-img {
        top: 25px;
        right: 7%;
      }
    }
  }
  .circle-animation {
    width: 550px;
    height: 550px;
  }
  .security-section {
    .circle-animation {
      width: 450px;
      height: 450px;
    }
  }
}

@media screen and (max-width: 575px) {
  .btn {
    padding: 10px 14px;
  }
  .hero-section {
    &::before {
      display: none;
    }
    ul {
      flex-direction: column;
      align-items: center;
      li {
        margin-right: 0;
      }
    }
    .pink-half {
      width: 65vw;
      left: -26%;
      top: 1%;
    }
    .pink-half {
      width: 65vw;
      right: -14%;
      bottom: 15%;
    }
  }
  .company-section {
    padding-bottom: 40px;
    .company-logo-wrapper {
      margin: 20px auto 25px;
      .company-logo {
        width: 164px;
      }
    }
  }
  h5 {
    font-size: 20px;
  }
  .use-card {
    .head {
      img {
        max-height: 45px;
        max-height: 30px;
      }
    }
  }
  .how-works-section {
    .purple-small-half {
      max-width: 37vw;
      bottom: -6vw;
      left: -17vw;
    }
  }
  .security-card {
    padding: 16px 0;
  }
  .integrations-section {
    .seamless-functionality {
      .seamless-logo {
        top: 30px;
        .seamless-logo-inner {
          img {
            max-width: 100px;
          }
        }
      }
    }
  }
  h2 {
    font-size: 32px;
  }
  .chip {
    padding: 7px 12px;
    font-size: 13px;
    border-radius: 8px;
    &::after {
      border-radius: 8px;
    }
  }
  .accordion {
    .accordion-item {
      .accordion-button {
        padding: 12px;
        line-height: 1.5;
      }
      .accordion-body {
        padding: 0 12px 12px;
      }
    }
  }
  .tabs-wrapper {
    .nav-tabs {
      .nav-link {
        padding: 6px 16px;
        font-size: 14px;
        font-family: $sf-regular;
      }
    }
  }
  .create-bot-section {
    .wrapper {
      h2 {
        font-size: 28px;
      }
      .pdf-img,
      .txt-img {
        display: none;
      }
      .doc-img,
      .gif-img {
        max-width: 38px;
        &.gif-img {
          transform: rotate(16deg);
        }
      }
    }
  }
  .circle-animation {
    width: 450px;
    height: 450px;
  }
  .security-section {
    .circle-animation {
      width: 350px;
      height: 350px;
    }
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 28px;
  }
  header {
    .navbar {
      .header-right {
        .btn {
          display: none;
        }
      }
    }
  }
  footer {
    .col-4 {
      width: 50%;
    }
  }
  .circle-animation {
    width: 250px;
    height: 250px;
  }
  .running-star{
    &.effect-2{
      left: 85%;
    }
  }
  .use-card{
    padding: 22px 22px 0;
  }
  .integrations-section {
    .seamless-functionality {
      .seamless-logo {
        top: 17%;
        .seamless-logo-inner {
          padding: 7px;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .hero-section {
    h2 {
      font-size: 32px;
    }
    .pink-half {
      top: 5%;
    }
  }
  .company-section{
    .company-logo-wrapper{
      .company-logo {
        width: 133px;
      }
    }
  }
  .running-star{
    &.effect-1{
      left: 10%;
      top: 85%;
    }
  }
}
