@import './variables';

@media screen and (max-width: 1599px) {
  .hero-section{
    .pink-half {
      top: 5%;
    }
    .purple-half {
     right: -1%;
    }
  }
  .how-works-section{
    .purple-small-half{
      left: -6vw;
    }
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
@media screen and (max-width: 1199px) {
  .hero-section{
    h2{
      font-size: 52px;
    }
    .pink-half {
      left: -8%;
    }
    .purple-half {
      right: -8%;
    }
  }
  .blue-gradient{
    &::before{
      left: -25%;
    }
  }
  .integrations-section {
    .seamless-functionality {
      .seamless-logo {
        top: 70px;
        .seamless-logo-inner {
          img {
            max-width: 180px;
          }
        }
      }
    }
  }
  .purple-half-round2 {
    width: 15vw;
  }
}

@media screen and (max-width: 1024px) {
  .hero-section{
    .pink-half {
      top: 10%;
    }
    .purple-half{
      top: 26%;
      right: -9%;
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar-nav {
    .dropdown-menu {
      display: block;
      opacity: 0;
      visibility: hidden;
      margin: 0;
    }
  }
}
@media screen and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $dark;
  }
  h2{
    font-size: 48px;
  }
  .hero-section{
    h2{
      font-size: 48px;
    }
    .pink-half{
      top: 12%;
    }
    .purple-half{
      top: auto;
      bottom: 28%;
    }
  }
  .use-card{
    padding: 30px 30px 0;
    &.blue{
      &::before{
        bottom: unset;
        top: -47px;
        left: unset;
        right: 0;
        width: 100%;
        max-width: 370px;
      }
    }
  }
  .how-works-section{
    .purple-small-half{
      max-width: 10vw;    
      bottom: -8vw;
      left: -22vw;
    }
    .nav-tabs{
      .nav-link{
        &::before{
          max-width: 29px;
        }
      } 
    } 
    .nav{
      max-width: 767px;
      min-width: 767px;
    }
  }
  .security-card{
    &.bordered{
      &::after, &::before{
        left: 50%;
      }
      &.one{
        &::after, &::before{
          display: none;
        }
      }
    }
  }
  .integrations-section {
    .seamless-functionality {
      .seamless-logo {
        top: 50px;
        .seamless-logo-inner {
          img {
            max-width: 150px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .hero-section{
    padding: 84px 0 54px;
    &::before{
      background: radial-gradient(
        59.17% 53.97% at 50% 50%,
        rgba(225, 77, 255, 0.69) 0.05%,
        rgba(0, 0, 0, 0) 50%
      );
    }
    h2{
      font-size: 38px;
      display: inline;
      -webkit-text-fill-color: #edd2ef;
    }
    .video-wrapper {
      .play-icon {
        height: 60px;
        width: 60px;
        img{
          width: 40%;
          margin-right: -7%;
        }
      }
    }
    .pink-half{
      width: 50vw;
      left: -12%;
      top: 5%;
    }
  }
  h2{
    font-size: 38px;
  }
  .how-works-section{
    .purple-small-half{
      max-width: 30vw;
      bottom: -18vw;
      left: -7vw;
    }
  }
  .security-card{
    &.bordered{
      &::after, &::before{
       display: none
      }
    }
  }
  .blue-gradient{
    &::before{
      height: 140px;
      top: 0px;
    }
  }

}

@media screen and (max-width: 575px) {
  .btn {
    padding: 10px 14px;
  }
  .hero-section{
    &::before{
      display: none;
    }
    ul{
      flex-direction: column;
      align-items: center;
      li{
        margin-right: 0;
      }
    }
    .pink-half{
      width: 65vw;
      left: -26%;
      top: 1%;
    }
    .pink-half{
      width: 65vw;
      right: -14%;
      bottom: 15%;
    }
  }
  .company-section{
    padding-bottom: 40px;
    .company-logo-wrapper{
      margin: 20px auto 25px;
      .company-logo{
        width: 164px;
      }
    }
  }
  h5 {
    font-size: 20px;
  }
  .use-card{
    .head{
      img{
        max-height: 45px;
        max-height: 30px;
      }
    }
  }
  .how-works-section{
    .purple-small-half{
      max-width: 37vw;
      bottom: -6vw;
      left: -17vw;
    }
  }
  .security-card{
    padding: 16px 0;
  }
  .integrations-section {
    .seamless-functionality {
      .seamless-logo {
        top: 30px;
        .seamless-logo-inner {
          img {
            max-width: 100px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  header {
    .navbar {
      .header-right {
        .btn {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  h2{
    font-size: 29px;
  }
  .hero-section{
    h2{
      font-size: 32px;
    }
    .pink-half{
      top: 5%;
    }
  }
}
@media screen and (max-width: 425px) {
  .company-logo{
    width: 139px;
  }
}