@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "../../assets/bootstrap/scss/functions";
@import "../../assets/bootstrap/scss/variables";
@import url('../styles/fonts.css');
$Geist: "Geist", serif;
$primary: #7544FF;
$secondary: transparent;
$white: #ffffff;
$white-100: #CEC1F180;
$white-200: #E5E7EB;
$dark: #0C0E19;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

@import "../../assets/bootstrap/scss/bootstrap";

body {
  font-family: $Geist;
  background-color: $dark;
  font-size: 14px;
  line-height: 1.7;
  color: $white-100;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'SF-Pro-regular';
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 26px;
}
h6 {
  font-size: 20px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  font-family: $Geist;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}
.container {
  max-width: 1280px;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: $white;
}
.btn {
  font-size: 14px;
  padding: 12px 18px;
  &.btn-primary {
    background-color: $primary;
    color: $white;
    box-shadow: 0px 1px 1px 0px #FFFFFF80 inset,0px 6px 12px 0px #FFFFFF26 inset,0px 1px 2px 0px #08080833,0px 4px 4px 0px #08080814;
  
    &:hover {
      background-color: $primary;
      color: $white;
      box-shadow: none;
    }
  }
  &.btn-link {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $primary;
    }
  }
  &.btn-secondary {
    background-color: $secondary;
    color: $white;
  
    &:hover {
      background-color: $white;
      color: $secondary;
    }
  }
  
  &.btn-light {
    background-color: $white;
    color: $secondary;
  }
}

.lg-heading {
  font-size: 50px;
  font-weight: 500;
  line-height: 64.5px;
  color: $secondary;
}

//header start
header {
  min-height: 44px;
  .navbar {
    padding: 20px 0;
    .navbar-toggler-icon {
      
    }
    .navbar-nav {
      box-shadow: 0px 1px 2px 0px #08080833, 0px 4px 4px 0px #08080814, 0px 1px 1px 0px #FFFFFF33 inset, 0px 6px 12px 0px #FFFFFF1F inset;
      padding: 6px 20px;
      border-radius: 20px;
      .nav-item {
        .nav-link {
          color: $white-200;
          padding: 5px 15px;
          font-weight: 600;
          &.dropdown-toggle {
            &:after {
              border: 0;
              background-image: url('../images/svg/arrowDown.svg');
              vertical-align: 2px;
              width: 9px;
              height: 5px;
              margin-left: 10px;
            }
          }
        }
        .dropdown-menu {
          display: block;
          opacity: 0;
          visibility: hidden;
        }
        &:hover {
          .dropdown-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}