@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "../../assets/bootstrap/scss/functions";
@import "../../assets/bootstrap/scss/variables";
@import url("../styles/fonts.css");
@import "../../assets/bootstrap/scss/bootstrap";
@import "./variables";

body {
  font-family: $Geist;
  background-color: $dark;
  font-size: 14px;
  line-height: 1.7;
  color: $white-100;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SF-Pro-regular";
}
h1 {
  font-size: 72px;
  span {
    color: $primary;
  }
}
h2 {
  font-size: 50px;
  span {
    color: $primary;
  }
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 26px;
}
h6 {
  font-size: 20px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn {
  font-family: $Geist;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.text-purple{
  color: #7544FF !important;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: $white;
}
.text_primary{
  color: $primary;
}
.btn {
  font-size: 14px;
  padding: 12px 18px;
  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    box-shadow: 0px 1px 1px 0px #ffffff80 inset,
      0px 6px 12px 0px #ffffff26 inset, 0px 1px 2px 0px #08080833,
      0px 4px 4px 0px #08080814;

    &:hover {
      background-color: $primary;
      color: $white;
      box-shadow: none;
    }
  }
  &.btn-link {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $primary;
    }
  }
  &.btn-secondary {
    background-color: $secondary;
    color: $white;

    &:hover {
      background-color: $white;
      color: $secondary;
    }
  }

  &.btn-light {
    background: linear-gradient(
      135.86deg,
      rgba($white, 0.32) 5.24%,
      rgba($white, 0.1) 51.01%
    );
    color: $white;
    border-radius: 50px;
    border: 0;
    padding: 11px 32px;
    svg {
      margin-left: 10px;
    }
  }
  &.btn-gradient {
    background: radial-gradient(
      65.68% 276.14% at 53.78% 214.77%,
      #9a07d2 0%,
      #ff008c 21.96%,
      #7544ff 35.65%,
      #441aba 100%
    );
    overflow: hidden;
    position: relative;
    border-radius: 32px;
    color: #edd2ef;
    transition: all 0.5s ease-in-out;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      background: radial-gradient(
        62.43% 62.43% at 50.27% 64.52%,
        #e800f4 -40%,
        transparent 80%
      );
      top: 7px;
      border-radius: 32px;
      height: 64px;
      pointer-events: none;
    }
    &:hover {
      background-size: 400% 200%;
      &::before {
        background-size: 100% 150%;
      }
    }
  }
}

.text-gradient {
  background: linear-gradient(90deg, #cec1f1 0%, #ffbfff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lg-heading {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.19;
  color: $secondary;
}

.chip {
  padding: 10px 19.5px;
  font-size: 14px;
  line-height: 1.22;
  background-color: rgba($primary, 0.1);
  color: $white-300;
  width: fit-content;
  border-radius: 12px;
  position: relative;
  margin: 0 auto 10px;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      141.84deg,
      #9de8ee 6%,
      #fa7c0b 49.11%,
      #7544ff 90.53%
    );
    border-radius: 12px;
    z-index: -1;
    padding: 1px;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

//header start
header {
  min-height: 85px;
  &.header-sticky {
    .navbar {
      background-color: $dark;
      box-shadow: 0px 2px 1px 0px rgba(8, 8, 8, 0.2),
        3px 4px 4px 0px rgba(8, 8, 8, 0.0784313725),
        0px 4px 1px 0px rgba(255, 255, 255, 0.2) inset,
        0px 0px 10px 0px rgba(255, 255, 255, 0.1215686275) inset;
    }
  }
  .navbar {
    padding: 20px 0;
    z-index: 999;
    .navbar-brand {
      margin: 0;
    }
    .navbar-toggler {
      color: $white;
      box-shadow: none;
      padding: 0;
    }
    .navbar-nav {
      box-shadow: 0px 1px 2px 0px #08080833, 0px 4px 4px 0px #08080814,
        0px 1px 1px 0px #ffffff33 inset, 0px 6px 12px 0px #ffffff1f inset;
      padding: 6px 20px;
      border-radius: 20px;
      .nav-item {
        .nav-link {
          color: $white-200;
          padding: 5px 15px;
          font-weight: 600;
          &:hover {
            color: $primary;
            &.dropdown-toggle {
              &:after {
                background-image: url("../images/svg/arrowDownBlue.svg");
              }
            }
          }

          &.dropdown-toggle {
            &:after {
              border: 0;
              background-image: url("../images/svg/arrowDown.svg");
              vertical-align: 2px;
              width: 9px;
              height: 5px;
              margin-left: 10px;
              transition: all 0.3s ease-in-out;
            }
          }
        }
        &:hover {
          .dropdown-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    .header-right {
      display: flex;
    }
  }
}

// Seamless Integration
.running-star {
  background: linear-gradient(70.77deg, #6224FF -0.29%, #660B89 29.44%, #9284B7 48.5%, #660B89 58.31%, #000000 96.84%);
  background-blend-mode: screen;
  position: absolute;
  height: 84px;
  width: 2px;
  left: 15%;
  top: 40%;
  transform: rotate(225deg);
}
.purple-half-round2 {
  position: absolute;
  right: 0;
  top: 60%;
}
.integrations-section {
  position: relative;
  padding: 35px 0;
  .seamless-functionality {
    position: relative;
    background-image: url("../images/svg/seamless-dotted-pattern.svg");
    background-repeat: no-repeat;
    background-position: top center;
    .seamless-logo {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      max-width: max-content;
      border-radius: 10px;
      margin: 0 auto;
      display: table;
      &:before {
        content: "";
        text-align: center;
        top: -14px;
        left: 0;
        position: absolute;
        width: 205px;
        height: 29px;
        background: radial-gradient(
          50% 50% at 50% 50%,
          #ff20b5 0.5%,
          rgba(0, 0, 0, 0) 100%
        );
        background-blend-mode: screen;
        opacity: 0.5;
        z-index: 9;
        right: 0;
        margin: 0 auto;
      }
      .seamless-logo-inner {
        overflow: hidden;
        margin: 1px;
        background-color: $dark;
        border-radius: 10px;
        padding: 14px;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
            180deg,
            #7544ff 0%,
            #a22dbd 29.97%,
            #7544ff 80.31%,
            #a22dbd 119.87%
          );
          border-radius: 10px;
          z-index: -1;
        }
      }
    }
  }
}

//AI Platform
.ai-platform-section {
  padding: 35px 0;
  position: relative;
  .swiper-slide {
    .ai-platform-box {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: 0;
        border-radius: 15px;
      }
    }
    &:nth-child(1n) {
      .ai-platform-box {
        &::before {
          background: radial-gradient(96.47% 96.47% at 50% 100%, rgba(117, 68, 255, 0.5) 0%, rgba(12, 14, 25, 0.332609) 55.8%, rgba(12, 14, 25, 0.2) 100%);
        }
      }
    }
    &:nth-child(2n) {
      .ai-platform-box {
        &::before {
          background: linear-gradient(318.87deg, rgba(12, 14, 25, 0.332609) 81.79%, rgba(117, 68, 255, 0.5) 97.54%, rgba(51, 30, 112, 0.2) 121.86%);
        }
      }
    }
    &:nth-child(3n) {
      .ai-platform-box {
        &::before {
          background: radial-gradient(107.59% 107.59% at 113.52% 115.97%, rgba(117, 68, 255, 0.5) 0%, rgba(12, 14, 25, 0.332609) 55.8%, #0C0E19 100%)
        }
      }
    }
    &:nth-child(4n) {
      .ai-platform-box {
        &::before {
          background: radial-gradient(91.62% 82.59% at 22.53% 100%, rgba(117, 68, 255, 0.5) 0%, rgba(12, 14, 25, 0.332609) 31.7%, #0C0E19 100%)
        }
      }
    }
    &:nth-child(5n) {
      .ai-platform-box {
        &::before {
          background: radial-gradient(101.74% 102.12% at 84.16% 103.4%, rgba(117, 68, 255, 0.5) 0%, rgba(12, 14, 25, 0.332609) 31.7%, #0C0E19 100%)
        }
      }
    }
    &:nth-child(6n) {
      .ai-platform-box {
        &::before {
          background: radial-gradient(137.35% 123.69% at 127.85% 169.69%, #0C0E19 35.62%, rgba(117, 68, 255, 0.5) 1.02%, rgba(12, 14, 25, 0.2) 100%)
        }
      }
    }
  }
  .ai-platform-box {
    border-radius: 15px;
    position: relative;
    background-color: $dark;
    padding: 20px;
    margin: 1px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: linear-gradient(141.84deg, rgba(99, 91, 121, 0.2) 6.53%, #A68DED 90.53%);
      z-index: -1;
      border-radius: 15px;
      margin: -1px;
      opacity: 0.5;
    }
    img {
      margin-bottom: 20px;
      max-height: 160px;
      margin: 0 auto 10px;
      display: table;
      position: relative;
    }
    h5 {
      font-family: $sf-medium;
      position: relative;
    }
    p {
      position: relative;
    }
    a {
      color: $primary;
      position: relative;
    }
  }
  .slider-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    [class*="-arrow"] {
      width: 45px;
      height: 45px;
      line-height: 42px;
      margin: 2px 6px;
      text-align: center;
      border-radius: 100%;
    }
  }
}
.circle-animation {
  border-radius: 100%;
  height: 650px;
  width: 650px;
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    transform: scale(0);
    background: $dark;
    animation: ripple 4s infinite linear;
    animation-delay: 4s;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border-radius: 50%;
      background: $dark;
      z-index: -1;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(206, 193, 241, 0) 10.17%, #CEC1F1 69.75%);
      z-index: -2;
      margin: -1px;
    }
    &:nth-child(2) {
      animation-delay: 3.5s;
    }
    &:nth-child(3) {
      animation-delay: 3s;
    }
    &:nth-child(4) {
      animation-delay: 2.5s;
    }
    &:nth-child(5) {
      animation-delay: 2s;
    }
    &:nth-child(6) {
      animation-delay: 1.5s;
    }
    &:nth-child(7) {
      animation-delay: 1s;
    }
    &:nth-child(8) {
      animation-delay: 0.5s;
    }
  }

}
@keyframes ripple{
  0% {transform:scale(0.1);transform:scale(0.1); opacity:1;}
  50% {transform:scale(.5);transform:scale(.5); opacity:1;}
  100% {transform:scale(1);transform:scale(1); opacity:0;}
}

.dropdown-toggle {
  &::after {
    border: none;
    height: 6px;
    width: 10px;
    background: url(../images/svg/down-arrow.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: 0.055em;
  }
}

//header end
.hero-check {
  li {
    font-size: 16px;
    font-weight: 500;
  }
}

// Hero section
.hero-section {
  position: relative;
  padding: 134px 0 54px;
  overflow: hidden;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 716px;
    pointer-events: none;
    background: radial-gradient(
      39.17% 63.97% at 50% 50%,
      #e14dffb0 0.05%,
      rgba(0, 0, 0, 0) 50%
    );
    background-blend-mode: screen;
    mix-blend-mode: hard-light;
    opacity: 0.5;
  }
  h2 {
    font-weight: 800;
    font-size: 72px;
    background: linear-gradient(90deg, #cec1f1 0%, #ffbfff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    span {
      -webkit-text-fill-color: $primary;
    }
  }
  p {
    font-size: 16px;
    color: #edd2ef;
    max-width: 743px;
    width: 100%;
    margin: 12px auto 20px;
  }
  .btn-gradient {
    font-size: 16px;
  }
  ul {
    li {
      padding-left: 26px;
      position: relative;
      margin-right: 34px;
      color: $gray;
      font-size: 16px;
      margin-bottom: 12px;
      width: fit-content;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 5px;
        height: 18px;
        width: 18px;
        background-image: url(../images/svg/right-tick.svg);
        background-size: contain;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .chip {
    padding: 8px 16px;
    &::after {
      background: linear-gradient(
        189deg,
        #9de8ee 25.05%,
        #9de8ee -4.95%,
        #fa7c0b 71.71%,
        #5661f6 79.45%
      );
    }
  }
  .video-wrapper {
    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      height: 91px;
      width: 91px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: radial-gradient(
        35.36% 35.36% at 50% 50%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(131, 30, 255, 0.4) 100%
      );
      img {
        margin-right: -10px;
      }
    }
  }
  .bg-square {
    position: absolute;
    top: 42px;
    left: 49%;
    width: 100%;
    min-width: 992px;
    max-width: 1140px;
    transform: translateX(-50%);
    pointer-events: none;
  }
  .pink-half {
    position: absolute;
    left: 2%;
    top: 1%;
    width: 32vw;
    pointer-events: none;
  }
  .purple-half {
    position: absolute;
    right: 1%;
    top: 20%;
    width: 40vw;
    pointer-events: none;
  }
}
// Tbas
.tabs-wrapper {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #443f51 0%, #5a4e78 67%, #443f51 100%);
    border-radius: 50px;
    z-index: -1;
    padding: 1px;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  .nav-tabs {
    padding: 5px;
    border: 0;
    .nav-link {
      border-radius: 50px;
      padding: 9px 35px;
      font-size: 16px;
      line-height: 1.19;
      font-weight: 500;
      color: $white-300;
      font-family: $sf-medium;
      position: relative;
      border: 0;
      &:hover, &:focus{
        isolation: unset !important;
      }
      span {
        position: relative;
        z-index: 2;
      }
      &.active {
        background:linear-gradient(135.86deg, #7544FF 5.24%, #201A3F 51.01%);
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: -1px;
          z-index: -1;
          background: linear-gradient(168.01deg, #9176E4 -9.63%, #241D42 100.36%);
          border-radius: 50px;
        }
      }
    }
  }
}

// Company section
.company-section {
  position: relative;
  padding-bottom: 70px;
  overflow: hidden;
  .line-1 {
    position: absolute;
    height: 84px;
    width: 2px;
    right: -76px;
    top: -20px;
    transform: rotate(58deg);
    background: linear-gradient(
      70.77deg,
      #6224ff -0.29%,
      #ffffff 24.28%,
      #660b89 42.32%,
      #660b89 68.24%,
      #000000 96.84%
    );
    background-blend-mode: screen;
  }
  &::after {
    position: absolute;
    content: "";
    height: 84px;
    width: 2px;
    left: 15%;
    bottom: 0;
    transform: rotate(58deg);
    background: linear-gradient(
      70.77deg,
      #6224ff -0.29%,
      #660b89 29.44%,
      #9284b7 48.5%,
      #660b89 58.31%,
      #000000 96.84%
    );
    background-blend-mode: screen;
  }
  .company-logo-wrapper {
    max-width: 1005px;
    width: 100%;
    margin: 35px auto 25px;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
    .company-logo {
      padding: 8px 12px;
      height: 57px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 186px;
      border-radius: 12px;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: $primary;
      }
      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(
          180deg,
          #443f51 0%,
          #776c94 67%,
          #443f51 100%
        );
        border-radius: 12px;
        padding: 1px;
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
      }
    }
  }
}
.blue-gradient{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    max-width: 991px;
    background: radial-gradient($primary, transparent 80%);
    left: -120px;
    top: -60px;
    height: 260px;
    background: radial-gradient(21.31% 30.78% at 50% 50%, #4100C4 0.5%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: screen;
    mix-blend-mode: screen;
    opacity: 0.7;
    pointer-events: none;
  }

}

// Why choose us section
.why-use-section{
  position: relative;
  .radial-pink{
    position: absolute;
    height: 1241px;
    width: 1241px;
    background: radial-gradient(50% 50% at 50% 50%, #FF20B5 0.5%, rgba(0, 0, 0, 0) 100%);
    background-blend-mode: screen;
    right: 92%;
    bottom: 15%;
  }
}
.use-card{
  padding: 45px 30px 0;
  background: linear-gradient(146.03deg, #15192E 1.35%, #0C0E19 79.87%);
  border: 1px solid #443F51;
  border-radius: 15px;
  position: relative;
  z-index: 3;
  height: 100%;
  .small-grill{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }
  .head{
    h5{
      margin-left: 15px;
    }
  }
  .big-img{
    max-height: 355px;
  }
  &.pink{
    &::before{
      position: absolute;
      content: '';
      left: 0;
      right: 29.64%;
      top: -42px;
      height: 87px;
      background: radial-gradient(50% 50% at 36% 50%, #ff20b5be 0.5%, rgba(0, 0, 0, 0) 70%);
      background-blend-mode: screen;
      mix-blend-mode: plus-lighter;
      opacity: 0.5;
    }
  }
  &.blue{
    &::before{
      position: absolute;
      content: '';
      left: 0;
      right: 29.64%;
      bottom: -48px;
      height: 87px;
      background: radial-gradient(50% 50% at 36% 50%, rgba($primary, 0.8) 0.5%, rgba(0, 0, 0, 0) 70%);
      background-blend-mode: screen;
      mix-blend-mode: plus-lighter;
      opacity: 0.5;
      z-index: 2;
    }
  }
}

.circle-bg{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  pointer-events: none;
  z-index: -1;
  span{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin: auto;
    border: 1px solid #443F51;
    animation: ripple 3s linear infinite;
    transform: scale(0);
    &:nth-child(2){
      animation-delay: 5s;
    }
    &:nth-child(3){
      animation-delay: 4s;
    }
    &:nth-child(4){
      animation-delay: 3s;
    }
    &:nth-child(5){
      animation-delay: 2s;
    }
    &:nth-child(6){
      animation-delay:1s;
    }
  }
}

// how-works-section
.how-works-section{
  position: relative;
  .img-grill{
    position: absolute;
    bottom: 3.6%;
    right: 12%;
    pointer-events: none;
    z-index: -1;
  }
  .purple-small-half{
    max-width: 363px;
    height: auto;
    position: absolute;
    bottom: 12%;
    left: 0;
    transform: rotate(180deg);
  }
  .nav{
    max-width: 914px;
    min-width: 914px;
    margin: 0 auto;
    justify-content: space-between;
  }
  // NAV TABS
  .tabs-wrapper{
    overflow-x: auto;
    width: 100%;
    &::after{
      background: none;
    }
  }
  .nav-tabs{
    .nav-link{
      padding: 13px 8px !important;
      background: linear-gradient(135.86deg, rgba(177, 177, 177, 0.32) 5.24%, rgba(54, 53, 103, 0.2) 51.01%);
      border-radius: 24px;
      min-width: 170px;
      align-items: center;
      justify-content: center;
      display: flex;
      color: $white-100;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        height: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 0.5px dashed $white-300;
        left: 100%;
        width: 100%;
        max-width: 78px;
        z-index: -1;
        opacity: 0.5;
      }
      span{
        margin-left: 4px;
        line-height: normal;
      }
      &.active{
        background: linear-gradient(159deg, #7544FF 3.24%, #201A40 39.01%);
        img{
          mix-blend-mode: color-dodge;
        }
        &::before{
          border: none;
          height: 2px;
          border-radius: 2px;
          background: linear-gradient(102.59deg, #9DE8EE -0.29%, #FA7C0B 16.69%, #7544FF 33.01%);
        }
      }
    }
    .nav-item{
      &:last-child{
        .nav-link{
          &::before{
            display: none;
          }
        }
      }
    }
  }
}

// security section
.security-card{
  padding: 16px;
  .img-out{
    height: 46px;
    width: 46px;
    border-radius: 10px;
    background: linear-gradient(136.71deg, #7544FF -26.6%, rgba(54, 53, 103, 0.2) 51.03%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  h6{
    font-size: 22px;
    margin-bottom: 10px;
  }
  &.bordered{
    &::before{
      position: absolute;
      content: '';
      height: 130px;
      width: 3px;
      border-radius: 0 4px 4px 0;
      background: linear-gradient(180deg, #7544FF 0%, #A288E6 100%);
      top:0;
      left: 33.33%;
      z-index: 2;
    }
    &::after{
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 33.33%;
      width: 1px;
      background: linear-gradient(180deg, #CEC1F1 50.76%, #080A10 102.27%);
    }
    &.one{
      &::after{
        left: calc(66.66% - 1px);
      }
      &::before{
        left: calc(66.66% - 1px);
      }
    }
  }
} 

// Accordion
.accordion {
  margin-top: 20px;
  .accordion-item {
    background-color: transparent;
    position: relative;
    border: 0;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        132.56deg,
        rgba(99, 91, 121, 0.2) 60.26%,
        rgba(166, 141, 237, 0.2) 127.14%
      );
      border-radius: 15px;
      z-index: 0;
      padding: 1px;
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }
    .accordion-button {
      background-color: transparent;
      box-shadow: none;
      color: $white-300;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.19;
      padding: 20px 15px 20px 24px;
      position: relative;
      z-index: 2;
      font-family: $sf-medium;
      &::after {
        height: 36px;
        width: 36px;
        border-radius: 10px;
        background: linear-gradient(
            136.71deg,
            $primary -26.6%,
            rgba(54, 53, 103, 0.2) 51.03%
          ),
          url("../images/svg/plus.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
      &:not(.collapsed) {
        &::after {
          transform: rotate(0);
          background: linear-gradient(
              136.71deg,
              $primary -26.6%,
              rgba(54, 53, 103, 0.2) 51.03%
            ),
            url("../images/svg/minus.svg");
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      span {
        margin-right: 14px;
        display: block;
        color: $white-300;
      }
    }
    .accordion-body {
      padding: 0 25px 25px 61px;
      p {
        color: $white-100;
        font-weight: 500;
        line-height: 1.7;
        position: relative;
        z-index: 2;
      }
      background: radial-gradient(
        64.28% 96.62% at 54.76% 105%,
        rgba(117, 68, 255, 0.5) 0%,
        rgba(12, 14, 25, 0.332609) 55.8%,
        #0c0e19 100%
      );
    }
  }
}

// Tool Action section
.tool-action-section {
  padding-top: 70px;
  .text-gradient{
    margin-bottom: 10px;
  }
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    .box-wrap {
      border-radius: 20px;
      position: relative;
      padding: 15px 0;
      margin-top: 9px;
     &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(112.19deg, #15192E 1.62%, rgba(68, 59, 122, 0.3) 49.09%, rgba(164, 146, 214, 0.1) 102.8%);
      border-radius: 15px;
      padding: 1px;
      z-index: -1;
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
     }
    }
  }
}

// Benifit Section
.benefit-section {
  padding-top: 70px;
  .benefit-wrapper {
    background-image: url("../images/png/benefit-bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
  }
  .first-row {
    max-width: 1150px;
    margin: 35px auto 0;
  }
  .second-row {
    max-width: 1575px;
    margin: 45px auto 0;
    .chart {
      transform: scale(1.25) translateY(-28px);
    }
    .bg {
      position: absolute;
      mix-blend-mode: hard-light;
      transform: scale(2);
      left: 0;
      top: -30px;
      z-index: -1;
    }
  }
  .single-benefit {
    text-align: center;
    .image-wrap {
      margin-bottom: 12px;
      height: 43px;
      width: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 12px;
    }
    h6 {
      font-family: $sf-medium;
      margin-bottom: 10px;
      color: $white-300;
    }
    p {
      color: rgba($white-300, 0.7);
      opacity: 0.8;
    }
  }
}

// Testimonial Styles
.testimonial-main {
  padding-top: 70px;
  position: relative;
  .bg-shape {
    position: absolute;
    bottom: 0;
  }
  .wrapper {
    margin: 0 60px;
    .testimonial-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      position: relative;
      margin-top: 12px;
      &::before {
        content: "";
        position: absolute;
        top: 0px;
        width: 100%;
        background: linear-gradient(
          180deg,
          #0c0e19 6.99%,
          rgba(12, 14, 25, 0) 100%
        );
        height: 75px;
        z-index: 10;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: linear-gradient(
          0deg,
          #0c0e19 6.99%,
          rgba(12, 14, 25, 0) 100%
        );
        height: 75px;
        z-index: 10;
      }
    }
    .swiper {
      width: calc(33.33% - 50px);
      height: 450px;
      overflow: hidden;
      .swiper-slide {
        height: auto; /* Allow content-based height */
        min-height: 80px; /* Minimum height for consistent visuals */
        .single-review {
          .person-info {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 14px;
            img {
              height: 42px;
              min-width: 42px;
              border-radius: 50%;
              object-fit: cover;
              background: linear-gradient(
                112.19deg,
                #15192e 1.62%,
                rgba(68, 59, 122, 0.3) 49.09%,
                rgba(164, 146, 214, 0.1) 102.8%
              );
            }
            .name-box {
              p {
                color: $white-300;
                font-size: 18px;
                line-height: 1.19;
                font-family: $sf-medium;
                margin-bottom: 4px;
              }
              span {
                color: rgba($white-300, 0.7);
                font-size: 14px;
                line-height: 1.3;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .swiper-wrapper {
      transition-timing-function: linear !important;
    }
    .btn-primary {
      width: fit-content;
      margin-top: 10px;
    }
  }
}

// Create Bot style
.create-bot-section {
  padding: 70px 0;
  .wrapper {
    position: relative;
    padding: 60px 0;
    overflow: hidden;
    border-radius: 15px;
    background-image: url("../images/png/create-bot-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        132.74deg,
        rgba(99, 91, 121, 0.2) 60.17%,
        rgba(166, 141, 237, 0.5) 107.95%
      );
      border-radius: 15px;
      padding: 1px;
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }
    .doc-img {
      position: absolute;
      top: 12px;
      right: 15%;
      transform: rotate(-10.9deg);
    }
    .txt-img {
      position: absolute;
      bottom: 60px;
      right: 10%;
      transform: rotate(10.9deg);
    }
    .pdf-img {
      position: absolute;
      top: 51px;
      left: 12%;
      transform: rotate(14.97deg);
    }
    .gif-img {
      position: absolute;
      bottom: 40px;
      left: 55px;
      transform: rotate(-16.91deg);
    }
    h2 {
      max-width: 90%;
      margin: 15px auto 20px;
    }
  }
}

// FAQ
.faq-section {
  padding-bottom: 70px;
  h2 {
    margin-bottom: 20px;
  }
  .tab-content {
    max-width: 1060px;
    margin: 0 auto;
  }
}

// Footer Style
footer {
  padding: 40px 0;
  border: 1px solid;
  border-bottom: 0;
  border-image-source: linear-gradient(
    132.56deg,
    rgba(99, 91, 121, 0.2) 60.26%,
    rgba(166, 141, 237, 0.2) 127.14%
  );
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      64.28% 96.62% at 54.76% 105%,
      rgba(117, 68, 255, 0.5) 0%,
      rgba(12, 14, 25, 0.332609) 55.8%,
      #0c0e19 100%
    );
    z-index: -1;
  }
  border-image-slice: 1;
  backdrop-filter: blur(15px);
  & .email {
    color: $white-300;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 14px;
  }
  .social-links {
    display: flex;
    gap: 6px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      width: 36px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        background: linear-gradient(
          136.71deg,
          $primary -26.6%,
          rgba(54, 53, 103, 0.2) 51.03%
        );
      }
      &:hover {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
  .list {
    h6 {
      color: $white-300;
      margin-bottom: 18px;
      font-family: $sf-medium;
    }
    li {
      margin-bottom: 10px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    a {
      color: rgba($white-300, 0.7);
      font-size: 16px;
      line-height: 1.5;
      display: block;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $white-300;
      }
    }
  }
}


// ANIMATION
@keyframes ripple {
  0%{
    transform: scale(0.2);
    opacity: 1;
  }
  50%{
    transform: scale(0.5);
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}